<h1>CookBook</h1>

<p>Bem-vindo ao maior livro de receitas online</p>

<div>
  <% if user_signed_in? %>
    <p><%= link_to 'Minhas Receitas', my_recipes_path %></p>
    <p><%= link_to 'Cadastrar nova Receita', new_recipe_path %></p>
    <p><%= link_to 'Cadastrar novo Tipo de Receita', new_recipe_type_path %></p>
    <p><%= link_to 'Cadastrar nova Cozinha', new_cuisine_path %></p>
  <% end %>

  <p><%= link_to 'Buscar uma Receita', search_recipes_path %></p>
</div>

<ul>
  <% @recipes.each do |recipe| %>
    <h1>
      <%= link_to recipe.title, recipe %>
    </h1>
    
    <li><%= recipe.recipe_type.name %></li>
    <li><%= recipe.cuisine.name %></li>
    <li><%= recipe.difficulty %></li>
    <li><%= recipe.cook_time_min %></li>
  <% end %>
</ul>