<h1><%= @recipe.title %></h1>

<% if user_signed_in? %>
  <% if @recipe.user == current_user and @recipe.favorite %>
    <%= image_tag('/assets/recipes/star.png', alt: 'Receita favorita') %>
  <% end %>
<% end %>

<% if @recipe.photo.attached? %>
  <%= image_tag @recipe.photo %>
<% end %>

<h3>Detalhes</h3>

<p><%= @recipe.recipe_type.name %></p>
<p><%= @recipe.cuisine.name %></p>

<p><%= @recipe.difficulty %></p>
<p><%= @recipe.cook_time_min %></p>

<h3>Ingredientes</h3>

<p><%= @recipe.ingredients %></p>

<h3>Como Preparar</h3>

<p><%= @recipe.cook_method %></p>

<p>Enviado por: <%= @recipe.user.email %></p>

<div>
  <% if user_signed_in? %>
    <% if @recipe.user == current_user %>
      <p>
        <% if !@recipe.favorite %>
          <%= link_to 'Adicionar como receita favorita', favorite_recipe_path, method: :post %>
        <% else %>
          <%= link_to 'Remover das receitas favoritas', unfavorite_recipe_path, method: :delete %>
        <% end %>
      </p>
    <% end %>
    
    <div>
      <h3>
        <% if @recipe.lists.count == 0 %>
          Você não incluiu esta receita a nenhuma lista:
        <% else %>
          Esta receita pertence às seguintes listas:
        <% end %>
      </h3>
      <ul>
        <% @recipe.lists.each do |list| %>
          <li><%= link_to list.name, list %></li>
        <% end %>
      </ul>
    </div>

    <%= form_tag(add_to_list_recipe_path(@recipe)) do %>
      
      <%= label_tag :list_id, 'Adicionar para Lista' %>
      <%= select_tag :list_id, options_for_select(@lists.collect { |l| [l.name, l.id]} ) %>
      <%= submit_tag 'Adicionar' %>

    <% end %>
    
    <% if @recipe.user == current_user %>
      <p><%= link_to 'Editar', edit_recipe_path %></p>
      <p><%= link_to 'Deletar', @recipe, method: :delete %></p>
    <% end %>
  <% end %>
  <p><%= link_to 'Voltar', root_path %></p>
<div>